@import "tailwindcss";
@import "@conscia-labs/design-system/tailwind.css";

@source "../../../src";

body {
  margin: 0;
}

.ds-app-root {
  isolation: isolate;
}

@layer base {
  a {
    color: inherit;
    text-decoration: none;
  }
}
